$breakpoints: (
	sm: 640px,
	md: 768px,
	lg: 1024px,
	xl: 1280px,
);

$justify-values: (
	start: flex-start,
	end: flex-end,
	center: center,
	between: space-between,
	around: space-around,
);

$align-values: (
	start: flex-start,
	end: flex-end,
	center: center,
	stretch: stretch,
);

* {
	box-sizing: border-box;
}

@mixin each-breakpoint($breakpoints-map: $breakpoints) {
	@each $breakpoint, $size in $breakpoints-map {
		@media (min-width: $size) {
			@content ($breakpoint, $size);
		}
	}
}

@mixin generate-grid-columns($prefix: "", $min: 2, $max: 12) {
	.#{$prefix}tsb-grid {
		display: grid;

		@for $i from $min through $max {
			&-cols-#{$i} {
				grid-template-columns: repeat(#{$i}, 1fr);
			}
		}
	}

	@for $i from $min through $max {
		.#{$prefix}col-span-#{$i} {
			grid-column: span #{$i} / span #{$i};
		}
	}

	@for $i from $min through $max {
		.#{$prefix}col-start-#{$i} {
			grid-column-start: #{$i};
		}
	}
}
