$breakpoints: (
	sm: 640px,
	md: 768px,
	lg: 1024px,
	xl: 1280px,
);

$justify-values: (
	start: flex-start,
	end: flex-end,
	center: center,
	between: space-between,
	around: space-around,
);

$align-values: (
	start: flex-start,
	end: flex-end,
	center: center,
	stretch: stretch,
);

* {
	box-sizing: border-box;
}

@mixin each-breakpoint($breakpoints-map: $breakpoints) {
	@each $breakpoint, $size in $breakpoints-map {
		@media (min-width: $size) {
			@content ($breakpoint, $size);
		}
	}
}

@mixin generate-grid-columns($prefix: "", $min: 2, $max: 12) {
	.#{$prefix}tsb-grid {
		display: grid;

		@for $i from $min through $max {
			&-cols-#{$i} {
				grid-template-columns: repeat(#{$i}, 1fr);
			}
		}
	}

	@for $i from $min through $max {
		.#{$prefix}col-span-#{$i} {
			grid-column: span #{$i} / span #{$i};
		}

		.#{$prefix}col-start-#{$i} {
			grid-column-start: #{$i};
		}
	}
}

.sr-only {
  position:absolute ;
  left: -10000px;
  width: 1px;
  height:px ;
  top: auto;
  overflow: hidden;
}

.tsb-rel {
	position: relative;
}

.tsb-abs {
	position: absolute;
}

.tsb-fixed {
	position: fixed;
}

.top-0 {
	top: 0;
}

.left-0 {
	left: 0;
}

.w-full {
	width: 100%;
}

.h-full {
	height: 100%;
}

.bg-transparent {
	background-color: transparent;
}

.border-0 {
	border: 0;
}

@for $i from 0 through 10 {
	.z-#{$i * 10} {
		z-index: #{$i * 10};
	}
}

@include each-breakpoint() using ($breakpoint, $size) {
	.#{$breakpoint}\: {
		&tsb-rel {
			position: relative;
		}

		&tsb-abs {
			position: absolute;
		}

		&tsb-fixed {
			position: fixed;
		}

		&top-0 {
			top: 0;
		}

		&left-0 {
			left: 0;
		}
		&w-full {
			width: 100%;
		}

		&h-full {
			height: 100%;
		}

		&z-0 {
			z-index: 0;
		}
	}
}

// Base classes
.tsb-flex {
	display: flex;

	&-row {
		flex-direction: row;
	}

	&-row-r {
		flex-direction: row-reverse;
	}

	&-col {
		flex-direction: column;
	}

	&-col-r {
		flex-direction: column-reverse;
	}

	&-1 {
		flex: 1 1 0;
	}
}

.tsb-cover{
	object-fit: cover
}

.tsb-contain {
	object-fit: contain;
}

@include generate-grid-columns();

@each $name, $value in $justify-values {
	.tsb-j-#{$name} {
		justify-content: $value;
	}
}

@each $name, $value in $align-values {
	.tsb-a-#{$name} {
		align-items: $value;
	}
}

// Responsive classes
@each $breakpoint, $size in $breakpoints {
	@media (min-width: $size) {
		@each $name, $value in $justify-values {
			.#{$breakpoint}\:tsb-j-#{$name} {
				justify-content: $value;
			}
		}

		@each $name, $value in $align-values {
			.#{$breakpoint}\:tsb-a-#{$name} {
				align-items: $value;
			}
		}

		.#{$breakpoint}\: {
			&tsb-flex {
				display: flex;
				&-row {
					flex-direction: row;
				}

				&-row-r {
					flex-direction: row-reverse;
				}

				&-col {
					flex-direction: column;
				}

				&-col-r {
					flex-direction: column-reverse;
				}

				&-1 {
					flex: 1 1 0;
				}
			}
		}

		@include generate-grid-columns("#{$breakpoint}\\:");
	}
}

@each $breakpoint, $size in $breakpoints {
	@media (max-width: #{$size - 1}) {
		@each $name, $value in $justify-values {
			.max-#{$breakpoint}\:tsb-j-#{$name} {
				justify-content: $value;
			}
		}

		@each $name, $value in $align-values {
			.max-#{$breakpoint}\:tsb-a-#{$name} {
				align-items: $value;
			}
		}

		.max-#{$breakpoint}\: {
			&tsb-flex {
				display: flex;
				&-row {
					flex-direction: row;
				}

				&-row-r {
					flex-direction: row-reverse;
				}

				&-col {
					flex-direction: column;
				}

				&-col-r {
					flex-direction: column-reverse;
				}

				&-1 {
					flex: 1 1 0;
				}
			}
		}

		@include generate-grid-columns("max-#{$breakpoint}\\:");
	}
}
