$breakpoints: (
	sm: 640px,
	md: 768px,
	lg: 1024px,
	xl: 1280px,
);

$justify-values: (
	start: flex-start,
	end: flex-end,
	center: center,
	between: space-between,
	around: space-around,
);

$align-values: (
	start: flex-start,
	end: flex-end,
	center: center,
	stretch: stretch,
);

// Base classes
.tsb-flex {
	display: flex;

	&-row {
		flex-direction: row;
	}

	&-row-r {
		flex-direction: row-reverse;
	}

	&-col {
		flex-direction: column;
	}

	&-col-r {
		flex-direction: column-reverse;
	}

	&-1 {
		flex: 1 1 0;
	}
}

.tsb-grid {
	display: grid;

	@for $i from 2 through 12 {
		&-cols-#{$i} {
			grid-template-columns: repeat(#{$i}, 1fr);
		}
	}
}

@each $name, $value in $justify-values {
	.tsb-j-#{$name} {
		justify-content: $value;
	}
}

@each $name, $value in $align-values {
	.tsb-a-#{$name} {
		align-items: $value;
	}
}

// Responsive classes
@each $breakpoint, $size in $breakpoints {
	@media (min-width: $size) {
		@each $name, $value in $justify-values {
			.#{$breakpoint}\:tsb-j-#{$name} {
				justify-content: $value;
			}
		}

		@each $name, $value in $align-values {
			.#{$breakpoint}\:tsb-a-#{$name} {
				align-items: $value;
			}
		}

		.#{$breakpoint}\: {
			&tsb-flex {
				display: flex;
				&-row {
					flex-direction: row;
				}

				&-row-r {
					flex-direction: row-reverse;
				}

				&-col {
					flex-direction: column;
				}

				&-col-r {
					flex-direction: column-reverse;
				}

				&-1 {
					flex: 1 1 0;
				}
			}

			&tsb-grid {
				display: grid;

				@for $i from 2 through 12 {
					&-cols-#{$i} {
						grid-template-columns: repeat(#{$i}, 1fr);
					}
				}
			}
		}
	}
}
