.tsb-flex {
	display: flex;
}

.tsb-j {
	&-start {
		justify-content: flex-start;
	}

	&-end {
		justify-content: flex-end;
	}

	&-center {
		justify-content: center;
	}

	&-between {
		justify-content: space-between;
	}

	&-around {
		justify-content: space-around;
	}
}

.tsb-a {
	&-start {
		align-items: flex-start;
	}

	&-end {
		align-items: flex-end;
	}

	&-center {
		align-items: center;
	}

	&-stretch {
		align-items: stretch;
	}
}